Temp*
obj/*
localmedia/*
Library/*
Logs/*
build/*
Unused/*
Assets/Plugins/*
.vs/*
.vscode
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
UserSettings/*
Assembly-CSharp-Editor-firstpass.csproj
elevenlabs_tts_json_received.mp3
elevenlabs_tts_json_sent.json
last_error_returned.json
log.txt
text_completion_sent.json
textgen_json_received.json
tts_json_received.json
tts_json_sent.json
tts_last_error_returned.json
config.txt
GPTAvatar_Windows.zip
GPTAvatar.sln
.vsconfig
Assets/Resources/config.txt
Assets/Crazy Minnow Studio/*
Assets/CrazyOptimizer/*
Assets/FrostweepGames/*
Assets/Plugins/*
Assets/ProBuilder Data/*
Assets/ClassRoom/*
Assets/CCiC Unity Tools URP12/*
Assets/Art/*
Assets/Audio/*
Assets/Font/*
Assets/Hospital room/*
Assets/PPLMODELS/*
Assets/Materials/*
Assets/Resources/*
Assets/RT/Other/*
Assets/TextMesh Pro/*
Packages/*
ProjectSettings/*
Temp*
obj/*
localmedia/*
Library/*
Logs/*
build/*
Unused/*
Assets/Plugins/*
.vs/*
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
UserSettings/*
Assembly-CSharp-Editor-firstpass.csproj
elevenlabs_tts_json_received.mp3
elevenlabs_tts_json_sent.json
last_error_returned.json
log.txt
text_completion_sent.json
textgen_json_received.json
tts_json_received.json
tts_json_sent.json
tts_last_error_returned.json
config.txt
GPTAvatar_Windows.zip
GPTAvatar.sln
.vsconfig
Assets/Resources/config.txt
Assets/Crazy Minnow Studio/*
Assets/CrazyOptimizer/*
Assets/FrostweepGames/*
Assets/Plugins/*
Assets/ProBuilder Data/*
Assets/ClassRoom/*
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
# Created by https://www.toptal.com/developers/gitignore/api/unity
# Edit at https://www.toptal.com/developers/gitignore?templates=unity

### Unity ###
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# End of https://www.toptal.com/developers/gitignore/api/unity
